<header id="header" class="fixed-top">
    <div class="container">
      <div class="logo float-left">
        <a href="index.html" title="Vibe Up" class="scrollto">
          <h1><img src="assets/img/logo.png" alt="Vibe Up" class="img-fluid"></h1>
        </a>
      </div>
      <div class="profile float-right">
        <a href="#"> <img src="assets/img/profile.jpg">
        <span>Luna Camilia</span><i class="fa fa-chevron-down"></i></a></div>
      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html" class="active"><img src="assets/img/home.svg"></a></li>
          <li ><a href="#"><img src="assets/img/message.svg"></a></li>
          <li><a href="#"><img src="assets/img/notifications.svg"></a></li>
          <li><a href="#"><img src="assets/img/settings.svg"></a></li>
          <li><a href="#"><img src="assets/img/message.svg"></a></li>
        </ul>
      </nav><!-- .main-nav -->
    </div>
  </header><!-- #header -->