

  <!--==========================
    Intro Section
  ============================-->
  
  <!-- #intro2 -->
  <main id="main">
      <!--==========================
      Services Section
    ============================-->
    <section id="body">
      <div class="container">
        <div class="row">
          <div class=" left col-lg-3">
              <ul class="left_nav">
                  <li><a href=""><img src="assets/img/group-1.svg"> Friends</a></li>
                  <li><a href=""><img src="assets/img/group.svg"> Group</a></li>
                  <li><a href=""><img src="assets/img/ondemand_video.svg"> Watch</a></li>
                  <li><a href=""><img src="assets/img/poll.svg"> Ads Manager</a></li>
                  <li><a href=""><img src="assets/img/calendar_today.svg"> Events</a></li>
              </ul>
              <div class="see_all"><a href="#">See All Contacts</a></div>
              <!-- <hr style="margin-bottom: 100px;"></hr>  -->

          </div>
		  <div class="center col-lg-6">
			Body Area
		  </div>
		  <div class="right col-lg-3">
			<div class="news_section">
				  <div class="top_sec">
					  <h3>News Updates</h3>
					  <span><a href="#">See All</a></span>
				  </div>  
				  <div class="news_body">
					  <img src="assets/img/news.jpg">
					  <div class="news_right">
						 <h4> Diet for chronic migraine management </h4>
						  <a href="#">Read More</a>
					  </div>

				  </div>
				  <div class="news_body">
					  <img src="assets/img/news2.jpg">
					  <div class="news_right">
						 <h4> Diet for chronic migraine management </h4>
						  <a href="#">Read More</a>
					  </div>

				  </div>
				  <div class="news_body">
					  <img src="assets/img/news3.jpg">
					  <div class="news_right">
						 <h4> Diet for chronic migraine management </h4>
						  <a href="#">Read More</a>
					  </div>

				  </div>
			</div>
			<div class="contacts_section">
				<div class="top_sec">Contacts</div>
				<div class="contacts_body">
					<div class="body_section">
						<img src="assets/img/profile2.jpg">
						<div class="section_right">
							<span class="name">Jessica Gloria</span>
							<span class="status"><i class="online"></i>Online</span>
						</div>
					</div>
					<div class="body_section">
					  <img src="assets/img/profile.jpg">
					  <div class="section_right">
						  <span class="name">Jessica Gloria</span>
						  <span class="status"><i class="away"></i>Away</span>
					  </div>
					  </div>
					


				</div>

			</div>
		</div>
	  </div>

	</div>
  </section><!-- #services -->
  
  <!--==========================
	#courses 
  ============================-->
  
	<!-- #courses -->
 
</main>
