<!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <!--div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 footer-links">
            Section 1
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
Section 2           
          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
           Section 3
          </div>

        </div>
      </div>
    </div-->

    <div class="container copyright">
        <div class="row">

                &copy; Copyright &nbsp; <strong>Vibe Up</strong>. All Rights Reserved

               
        </div>
    </div>
  </footer><!-- #footer -->
