<!-- login Wrap -->
<section class="login-form">
    <div class="main-form">
      <h4 class="txt-theme text-center mg-btm">New User?</h4>
      <div class="text-center form-group"><h6 class="txt-fade">Fill the below form to create new account</h6></div>
      <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label-cstm">FIRST NAME</label>
              <input type="text" name="" class="form-control">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label-cstm">LAST NAME</label>
              <input type="text" name="" class="form-control">
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label class="label-cstm">EMAIL</label>
              <input type="email" name="" class="form-control">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label-cstm">COUNTRY</label>
              <select  class="form-control">
                <option selected="" disabled="">Select</option>
                <option selected="" disabled="">India</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label-cstm">PHONE</label>
              <input type="text" name="" class="form-control">
            </div>
          </div>
      </div>
      <div class="form-group">
        <div class="see_all"><a href="#">Register</a></div>
      </div>
      <div>
        <span>Already have an account?&nbsp;<a class="forgot-pass" href="login.html">Login</a></span>
      </div>
    </div>

  </section>
